/* .navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar ul {
    list-style: none;
    text-align: right;
}

.navbar ul li {
    color: white;
    font-size: 2em;
    padding-right: 20px;
    display: inline;
}

.home-section {
    height: 100vh;
    background-color: skyblue;
}

.about-section {
    height: 100vh;
    background-color: mediumpurple;
}

.contact-section {
    height: 100vh;
    background-color: tomato;
}
.navbar > .active {
    border-bottom: 1px solid white;
} */
