/* Forms */

[type="text"],
[type="email"],
[type="url"],
select,
textarea {
  display: block;
  padding: 0.5rem;
  background: transparent;
  width: 100%;
  max-width: 100%;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  font-size: 0.95rem;
}

[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid #1e6bd6;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==)
    100% no-repeat;
  line-height: 1;
}

label {
  font-weight: 600;
  font-size: 0.9rem;
  display: block;
  margin: 0.5rem 0;
}

/* Other */

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  padding: 1rem;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Button */

[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  margin: 0.25rem 0;
  padding: 0.5rem 1rem;
  border: 1px solid #1e6bd6;
  border-radius: 18px;
  background: #1e6bd6;
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.95rem;
}

#searchBar {
  position: absolute;
  width: 400px;
  height: 200px;
  top: 150px;
  left: 400px;
}

#selected {
  color: red;
}
#brand {
  position: absolute;

  top: 95px;
  left: 370px;
}
#searchBar {
  position: absolute;
  width: 400px;
  height: 200px;
  top: 150px;
  left: 400px;
}

#selected {
  color: red;
}
#brand {
  position: absolute;

  top: 95px;
  left: 370px;
}

#buttonFind {
  position: absolute;

  top: 290px;
  left: 400px;
  border-radius: 25%;
}

img {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;

  width: 100px;
  height: 100px;
}

#Profile {
  text-align: center;
  height: 300px;
  width: 290px;
  border-radius: 5%;
  border-color: bisque;
  border-bottom-color: bisque;
  border-style: solid;
  border-width: 5px;
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}


#buttonFind {
  position: absolute;

  top: 290px;
  left: 400px;
  border-radius: 25%;
}

img {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;

  width: 100px;
  height: 100px;
}

#Profile {
  text-align: center;
  height: 300px;
  width: 290px;
  border-radius: 5%;
  border-color: bisque;
  border-bottom-color: bisque;
  border-style: solid;
  border-width: 5px;
}

#wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}
